
.idea/compiler.xml
.idea/libraries/Gradle__com_ctre_phoenix6_wpiapi_java_25_2_1.xml
.idea/libraries/Gradle__com_ctre_phoenix_api_java_5_35_1.xml
.idea/libraries/Gradle__com_ctre_phoenix_wpiapi_java_5_35_1.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_15_2.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_15_2.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_15_2.xml
.idea/libraries/Gradle__com_pathplanner_lib_PathplannerLib_java_2025_2_1.xml
.idea/libraries/Gradle__com_reduxrobotics_frc_ReduxLib_java_2025_0_1.xml
.idea/libraries/Gradle__com_revrobotics_frc_REVLib_java_2025_0_2.xml
.idea/libraries/Gradle__com_studica_frc_Studica_java_2025_0_1.xml
.idea/libraries/Gradle__com_thethriftybot_frc_ThriftyLib_java_2025_0_2.xml
.idea/libraries/Gradle__edu_wpi_first_apriltag_apriltag_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_cameraserver_cameraserver_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_cscore_cscore_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_epilogue_epilogue_runtime_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_hal_hal_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_ntcore_ntcore_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_thirdparty_frc2025_opencv_opencv_java_4_10_0_3.xml
.idea/libraries/Gradle__edu_wpi_first_wpilibj_wpilibj_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_wpilibNewCommands_wpilibNewCommands_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_wpimath_wpimath_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_wpinet_wpinet_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_wpiunits_wpiunits_java_2025_1_1.xml
.idea/libraries/Gradle__edu_wpi_first_wpiutil_wpiutil_java_2025_1_1.xml
.idea/libraries/Gradle__org_apiguardian_apiguardian_api_1_1_2.xml
.idea/libraries/Gradle__org_dyn4j_dyn4j_5_0_2.xml
.idea/libraries/Gradle__org_ejml_ejml_cdense_0_43_1.xml
.idea/libraries/Gradle__org_ejml_ejml_core_0_43_1.xml
.idea/libraries/Gradle__org_ejml_ejml_ddense_0_43_1.xml
.idea/libraries/Gradle__org_ejml_ejml_dsparse_0_43_1.xml
.idea/libraries/Gradle__org_ejml_ejml_fdense_0_43_1.xml
.idea/libraries/Gradle__org_ejml_ejml_fsparse_0_43_1.xml
.idea/libraries/Gradle__org_ejml_ejml_simple_0_43_1.xml
.idea/libraries/Gradle__org_ejml_ejml_zdense_0_43_1.xml
.idea/libraries/Gradle__org_ironmaple_maplesim_java_0_3_1.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_5_10_1.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_api_5_10_1.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_engine_5_10_1.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_params_5_10_1.xml
.idea/libraries/Gradle__org_junit_platform_junit_platform_commons_1_10_1.xml
.idea/libraries/Gradle__org_junit_platform_junit_platform_engine_1_10_1.xml
.idea/libraries/Gradle__org_junit_platform_junit_platform_launcher_1_10_1.xml
.idea/libraries/Gradle__org_opentest4j_opentest4j_1_3_0.xml
.idea/libraries/Gradle__swervelib_YAGSL_java_2025_2_2.xml
.idea/libraries/Gradle__us_hebi_quickbuf_quickbuf_runtime_1_3_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/Barnacle_4537_2025.iml
.idea/modules/Barnacle_4537_2025.main.iml
.idea/modules/Barnacle_4537_2025.test.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
.idea/runConfigurations/Build___Deploy_Robot.xml
.idea/runConfigurations/Build___Deploy_Robot_for_Debugging.xml
.idea/runConfigurations/Build_Robot.xml
.idea/runConfigurations/Clean.xml
.idea/runConfigurations/Clean_Build___Deploy_Robot.xml
.idea/runConfigurations/Clean_Build___Deploy_Robot_for_Debugging.xml
.idea/runConfigurations/Clean_Build_Robot.xml
.idea/runConfigurations/Debug_Robot_via_IP.xml
.idea/runConfigurations/Debug_Robot_via_USB.xml
